footer {
  background-color: $background;
  height: auto;
  padding: 10rem 0;
  @include respons(small) {
    padding: 3rem 0;
  }
}
.footer {
  &__menus {
    ul {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 2rem;
      @include respons(tab-port) {
        display: flex;
        flex-wrap: wrap;
      }
      li {
        padding: 0 1rem;
        text-align: center;
        a {
          color: #fff;
          text-transform: uppercase;
        }
      }
    }
  }
  &--paragraf {
    color: #fff;
    margin-top: 3rem;
    text-align: center;
    letter-spacing: 0.2rem;
  }
}
